$cor-padrao: darken(#c24e4b, 20%);
$cor-auxiliar: #1e2c35;
$cor-branca: #fff;
$ponto-de-quebra: 980px;
$mq-mobile: "(width: 980px)";
$tamanho-fonte-padrao: 16px;

//imagens - destaque
$destaqueImg: '../imagens/destaque.jpg';
$destaqueImg: '../imagens/destaque.jpg';

//imagens - plataforma
$logoApple: '../imagens/logo-apple.png';
$logoAndroid: '../imagens/logo-android.png';
$logoWindows: '../imagens/logo-windows.png';
$logoblackberry: '../imagens/logo-blackberry.png';

//imagens - planos
$sprite: '../imagens/sprite.png';

//imagens - blog
$fundo: '../imagens/fundo.png';
$iconeRelogio: '../imagens/icone-relogio.png';

//imagens - footer
$funcoRodape: '../imagens/fundo-rodape.png';
$facebookImg: '../imagens/facebook.png';
$facebookImg: '../imagens/facebook.png';
$twitterImg: '../imagens/twitter.png';
$instagramImg: '../imagens/instagram.png';